@font-face {
  font-family: "Gotham Medium";
  src: url("../font/Gotham-Medium.otf");
}
@font-face {
  font-family: "Gotham Book";
  src: url("../font/Gotham Book.otf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: Gotham Medium, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:focus {
  text-decoration: none;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  padding: 4px 20px;
  letter-spacing: -0.7px;
}
h1.h1-long {
  font-size: 27px;
}

h2 {
  font-family: "Gotham Book";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 a {
  text-decoration: underline;
}

p {
  font-family: "Gotham Book";
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  margin: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
}
header div:last-child {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 100px;
  filter: invert(1);
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section p {
  text-align: center;
  font-size: 14px;
}
section picture {
  width: 100%;
  height: 100%;
}
section .bg-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.top-container {
  position: absolute;
  text-align: center;
  top: 15vh;
}

.bottom-container {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
  justify-items: center;
  bottom: 20px;
  padding: 20px 20px;
}

.button-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
  column-gap: 10px;
}
@media screen and (min-width: 600px) {
  .button-container {
    grid-template-columns: auto auto;
    width: auto;
  }
}

.chevron-down {
  width: 25px;
  height: 25px;
  bottom: 5vh;
}

footer {
  font-size: 12px;
  font-family: "Gotham Book";
  bottom: 0;
}
footer ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 600px) {
  footer ul {
    flex-direction: row;
  }
}
footer li {
  margin-top: 10px;
}
@media screen and (min-width: 600px) {
  footer li {
    margin-right: 20px;
  }
}
footer li:nth-child(n+4) {
  display: none;
}
@media screen and (min-width: 600px) {
  footer li:nth-child(n+4) {
    display: block;
  }
}

button {
  text-transform: uppercase;
  padding: 5px 40px;
  border: solid 3px rgba(0, 0, 0, 0);
  font-size: 12px;
  border-radius: 50px;
  width: 100%;
  text-align: center;
  background-color: rgba(23, 26, 32, 0.8);
  color: white;
  height: 40px;
  min-width: max-content;
}

.button-white {
  background-color: rgba(255, 255, 255, 0.65);
  color: #171a20;
}

nav {
  text-transform: uppercase;
}

.desktop-nav1 {
  display: none;
}
@media screen and (min-width: 1200px) {
  .desktop-nav1 {
    display: block;
  }
}
.desktop-nav1 ul li {
  margin-right: 15px;
}
@media screen and (min-width: 1200px) {
  .desktop-nav1 ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
  }
}

.desktop-nav2 {
  display: none;
  margin-right: 20px;
}
@media screen and (min-width: 1200px) {
  .desktop-nav2 {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .desktop-nav2 ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
  }
}

.burger {
  width: 17px;
}

/*# sourceMappingURL=style.css.map */
