* {
    box-sizing: border-box;
}

body {
    font-family: Gotham Medium, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica Neue, Arial, sans-serif;
    color: rgb(57, 60, 65);
    margin: 0;
    padding: 0;
}

a,
a:active,
a:focus {
    text-decoration: none;
    color: black;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    padding: 4px 0;
    letter-spacing: -0.7px;
}

h2 {
    font-family: 'Gotham Book';
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h2 a {
    text-decoration: underline;
}

p {
    font-family: 'Gotham Book';
}
