@font-face {
    font-family: 'Tesla';
    src: url('../font/TESLA.ttf');
}
@font-face {
    font-family: 'Gotham Medium';
    src: url('../font/Gotham-Medium.otf');
}
@font-face {
    font-family: 'Gotham Book';
    src: url('../font/Gotham Book.otf');
}
